<h3>Edit Trip</h3>
<div class="row">
    <form action="/trips/{{trip._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{trip.title}}">
                <label for="title">Title</label>
            </div>
        </div>
               <div class="row">
            <div class="input-field">
                <input type="text" id="lat" name="lat" value="{{trip.coordinates.lat}}">
                <label for="lat">Latitude</label>
            </div>
        </div>
       <div class="row">
            <div class="input-field">
                <input type="text" id="long" name="long" value="{{trip.coordinates.long}}">
                <label for="long">Longitude</label>
            </div>
        </div>
       <div class="row">
            <div class="input-field">
                <input type="text" id="long" name="long" value="{{trip.yearsTraveled}}">
                <label for="long">Year Traveled</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select trip.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Tell us about your trip!</h5>
                <textarea id="body" name="body">{{trip.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>