<div class="row">
    <div class="col s12 m8">
        <h3>{{trip.title}}
            <small>{{{editIcon trip.user user trip._id false}}}</small>
        </h3>
        <div class="card trip">
            <div class="card-content">
                <span class="card-title"><span class="topYear">{{trip.yearsTraveled}}</span> <br/> <span class="created">Created: {{formatDate trip.createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span></span>
                {{{trip.body}}}
                <table>
                    <tr>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
                    <tr>
                        <td>{{trip.coordinates.lat}}</td>
                        <td>{{trip.coordinates.long}}</td>
                    </tr>
                </table>
                    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=
                    &q={{trip.coordinates.lat}},{{trip.coordinates.long}}" allowfullscreen>
                    </iframe>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{trip.user.displayName}}</span>
                <img src="{{trip.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/trips/user/{{trip.user._id}}">More From {{trip.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>